.wrap {
    width: 1500px;
    margin: 0 auto;
}

/* 头部样式 */
header {
    height: 75px;
    background: linear-gradient(to bottom, #fff, #e5e5e5);
}

/* logo */
header .logo {
    float: left;
    width: 79px;
    height: 47px;
    background: url(../img/小巨蛋LOGO.png) no-repeat;
    margin-left: 72px;
    margin-top: 15px;
}

a {
    width: 150px;
    height: 75px;
    font: 12px/50px "微软雅黑";
    display: block;
    text-decoration: none;
}




.nav1 {
    float: left;
    width: 1050px;
    height: 75px;
    margin-left: 100px;
}

.nav1>li {
    /* 让一级导航栏左浮动 */
    float: left;
}

.nav1 a {
    display: block;
    width: 150px;
    height: 75px;
    line-height: 75px;
    color: black;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

/* 使用borer-image做边框 */
.a1 {
    border: 0px solid #000;
    border-right-width: 1px;
    border-image: linear-gradient(#fff, rgba(0, 0, 0, .2)) 1;
    position: relative;
}

.nav1 li:last-child .a1 {
    border: none;
}

/* 使用伪元素选择器做边框 */

/* .nav1 .a1::after{
    position: absolute;
    content: "";
    right: 0;
    width: 2px;
    height: 75px;
    background:linear-gradient(to bottom,#fff,#c2bfc0);
} */
.nav2 {
    display: none;
}

.nav2 a {
    background: linear-gradient(to bottom, #fff, #e5e5e5);
    border: 0px;
}

.nav1 li:hover .nav2 {
    display: block;
}

.nav1>li:hover .a1 {
    background-color: #dcdcdc;
}

.nav2 a:hover {
    background: #dcdcdc;
}

/* 导航栏 */
nav {
    height: 520px;
    background: url(../img/流光溢彩.png);
}

.nav2 li {
    position: relative;
}

.nav3 {
    display: none;
    position: absolute;
    top: 0;
    right: -151px;
}

.nav2 li:hover .nav3 {
    display: block;
}